.resetPwdSuccessContainer {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ResetPasswordWrapper {
  display: flex;
  align-items: center;
  line-height: 1.4rem;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 1rem;
  width: 40% !important;
  height: 80vh;
}

.resetPwdHeaderImg {
  height: 6rem;
  width: 10rem;
  border-radius: 0px;
  object-fit: cover;
}
.pwdResetSuccessImg {
  height: 10rem;
  width: 12rem;
  border-radius: 0px;
  object-fit: contain;
}

.checkYourEmail {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  color: #121617;
  flex: none;
}

.messageSentToYourEmail {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  text-align: center;
  color: var(--Gray-black);
}

.submitButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  width: 100%;
  height: 51px;
  background: var(--Cyan-Color);
  border-radius: var(--Border-radius);
  border: none;
  color: var(--white-primary);
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  cursor: pointer;
}

.submitButton:hover {
  background: var(--Gradient);
}

.ResendLink {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: var(--Gray-black);
}

.anchoLink {
  color: var(--Cyan-Color);
  text-decoration: none;
  margin-left: 1rem;
  font-size: 1.2rem;
}

.ResendLink .anchoLink:hover {
  color: var(--Lapis-blue-primary);
}

@media (max-width: 1200px) {
  .ResetPasswordWrapper {
    width: 70% !important;
  }
  .submitButton {
    font-size: 0.9rem;
    height: 40px;
  }

  .resetPwdHeaderImg {
    height: 4rem;
    width: 6rem;
  }
  .checkYourEmail {
    font-size: 1rem;
  }
  .messageSentToYourEmail {
    font-size: 0.9rem;
  }
  .anchoLink {
    font-size: 1rem;
  }
}

@media (max-width: 700px) {
  .ResetPasswordWrapper {
    width: 100% !important;
  }
}
