.ResetPasswordContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4;
  height: 100%;
}

.ResetPasswordWrapper {
  display: flex;
  align-items: center;
  line-height: 1rem;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
  width: fit-content;
  height: auto;
}

.ResetPasswordWrapper h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
}

.resetPasswordMessage {
  width: 50%;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: var(--Gray-black);
}

.ResetPasswordForm {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0px;
  gap: 48px;
  width: 100%;
  height: auto;
}
.EnterEmailPasswordForm {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0px;
  gap: 48px;
  width: 496px;
  height: auto;
}

.inputContainer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  height: fit-content;
  margin: 0 auto;
  margin-top: 1.4rem;
  position: relative;
  width: 100%;
}
.inputContainer:nth-child(2) {
  margin-top: -1rem;
}

.inputContainer label {
  font-style: normal;
  font-weight: 550;
  font-size: 16px;
  line-height: 19px;
  color: var(--Gray-black);
  margin-bottom: 0.6rem;
}

.resetEmailInput {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px;
  width: 496px;
  height: 51px;
  background: var(--white-primary);
  border: 1px solid var(--Border-color);
  border-radius: 4px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.resetEmailInput:focus {
  border: 1px solid var(--Border-Color);
  outline: 1.4px solid var(--Cyan-Color);
}

.goToLoginPage {
  font-style: normal;
  font-weight: 550;
  font-size: 16px;
  line-height: 19px;
  color: var(--Cyan-Color);
  flex: none;
  text-decoration: none;
  margin-top: 1rem;
}

.goToLoginPage:hover {
  color: var(--Light-blue-1);
}

.submitButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  width: 496px;
  height: 51px;
  background: var(--Cyan-Color);
  border-radius: var(--Border-radius);
  flex: none;
  border: none;
  color: var(--white-primary);
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  cursor: pointer;
}

.submitButton:hover {
  background: var(--Gradient);
}

.hidePassword {
  position: absolute;
  right: 2%;
  bottom: 18%;
  z-index: 500;
  height: 1.5rem;
  width: 1.5rem;
  object-fit: cover;
}

@media only screen and (max-width: 700px) {
  .EnterEmailPasswordForm {
    width: 100%;
  }
  .resetEmailInput {
    width: 100%;
    height: 40px;
  }
  .submitButton {
    width: 100%;
    height: 40px;
    font-size: 0.9rem;
  }
  .ResetPasswordWrapper h2 {
    font-size: 1.1rem;
  }
  .resetPasswordMessage {
    font-size: 0.9rem;
    width: 100%;
  }
  .hidePassword {
    bottom: 10%;
  }
}
